{% extends "partials/layout.html" %}

{% block title %}Perfil {{ user }} {% endblock %}

{% block main %}
{% include "partials/navbar.html" %}
    <h1>Olá {{ user.name }}</h1>
    {% if form %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}

            {{ form.photo() }}
            {{ form.btn() }}
        </form>
    {% endif %}
    
    {% for photo in user.photos %}
        <img src="{{ url_for('static', filename='img_posts/{}'.format(photo.image)) }}">
    {% endfor %}
{% endblock %}