<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comum.css') }}">
    <title>{% block title %}Fakepinterest{% endblock %}</title>
</head>

<body>

    <main>
        {% block main %}

            {% block form %}
            {% endblock %}
        {% endblock %}
    </main>

    <footer>
        <p>Desenvolvido por Jéssica Pedro</p>
    </footer>
</body>

</html>