<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comum.css') }}">
    <title>{% block title %}Fakepinterest{% endblock %}</title>
</head>

<body>
    <header>
        <h1><a href="{{ url_for('homepage') }}" style="color: red; text-decoration: none;">Fakepinterest</a></h1>
        <ul>
            <li><a href="{{ url_for('singup') }}" style="text-decoration: none;">Sing Up</a></li>
            /
            <li><a href="{{ url_for('homepage') }}" style="text-decoration: none;">Login</a></li>
        </ul>
    </header>

    <main>
        {% block main %}

            {% block form %}
            {% endblock %}
        {% endblock %}
    </main>

    <footer>
        <p style="font-size: 10px;">Página desenvolvida por Jéssica</p>
    </footer>
</body>

</html>