{% extends "partials/layout.html" %}

{% block title %}SingUp {% endblock %}

{% block main %}
    <h1>Criar conta</h1>
    {% block form %}
        <form method="POST">
            {{ form.csrf_token }}

            {{ form.name.label() }}
            {{ form.name() }}

            {{ form.email.label() }}
            {{ form.email() }}
            
            {{ form.password.label() }}
            {{ form.password() }}

            {{ form.confirm_password.label() }}
            {{ form.confirm_password() }}

            {{ form.button_confirm }}
        </form>
    {% endblock %}
{% endblock %}